
<script>
    $(function () {
        if ('@ViewBag.ErrorMessage' != "") {
            $('#errorModal').modal('show');
        }
    });

</script>

<div class="row">
    <div class="col-md-12">

        @if (ViewBag.ErrorMessage != null && !string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <!-- The Modal -->
            <div class="modal" id="errorModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Hata Oluştu!</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            @ViewBag.ErrorMessage
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>


        }

    </div>
</div>

